<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="{{request.static_url('youtube:static/pyramid-16x16.png')}}">
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	  	<div class="jumbotron">
			<form accept-charset="utf-8">
				<div class="form-group input-group">
				    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-film"></i></span>
				    <input id="url" class="form-control" type="text" name="url" value="" placeholder="https://youtube.com/uapUlfanlLOJN" aria-describedby="basic-addon1">
				</div>
				<div class="form-group">
				    <button type="button" id="solicitar" class="btn btn-primary" >Baixar</button>
				</div>
			</form>
            <div class="downloaded">
			  <table class="table">
			  	<caption><h2>Vídeos Baixados</h2></caption>
			  	<thead>
			  		<tr>
			  			<th>Nome</th>
			  			<th>Tamanho</th>
			  			<th></th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		{% for video in videos: %}
			  		<tr>
			  			<td class="col-md-8"><a target="_blank" href="/download/{{ video }}" >{{ video }}</a></td>
			  			<td class="col-md-2">3mb</td>
			  			<td class="col-md-2">
			  				<a target="_blank" href="/download/{{ video }}" title="Visualizar vídeo" class="btn btn-info"><i class="glyphicon glyphicon-play-circle"></i></a>
			  				<a target="_blank" href="/download/{{ video }}" title="Excluir vídeo" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
			  			</td>
			  		</tr>
			  		{% endfor %}
			  	</tbody>
			  </table>
            </div>
		</div>
	</div>



	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#solicitar").click(function(){
				url_download = $("#url").val();
				$.post('/youtube/youtube-dl', {url:url_download}, function(data){
					html = '<ul>';
					for(var i = 0; i < data.length; i++){
						html += '<li><a target="_blank" href="/download/'+ data[i]  +'">'+ data[i] +'</li>'
					}
					html += '</ul>';
					$("#list-download").html(html);
				})
			});

		});
	</script>


</body>
</html>